# Visual Studio Code workspace -------------------------------------------------
/.vscode

# Sublime Text workspace -------------------------------------------------------
cliowp.sublime-workspace

# JetBrains PhpStorm IDE files -------------------------------------------------
/.idea/

# PHP Dependencies -----------------------------------------------------------------
/vendor/

# Front end assets -------------------------------------------------------------
/node_modules/


# php cs fixer cache -----------------------------------------------------------
.php_cs.cache
.php-cs-fixer.cache
# ------------------------------------------------------------------------------
