/* ClioWP demo classes */
@mixin cliowp-menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.cliowp-menu-top {
    @include cliowp-menu-ul();
}

.cliowp-menu-top li {
    float: left;
}

.cliowp-menu-top li a {
    display: block;
    padding: 8px;
}

.cliowp-menu-top li a:hover {
    color: red;
}

.cliowp-menu-bottom {
    @include cliowp-menu-ul();
}

.cliowp-menu-bottom li {
    float: left;
}

.cliowp-menu-bottom li a {
    display: block;
    padding: 8px;
}

.cliowp-menu-bottom li a:hover {
    color: red;
}

.cliowp-post-meta-container {
    padding: 10px 0 15px 0;
}

.cliowp-search-container {
    padding: 10px 0 10px 0;
}
