/* Typography */
body {
    font-family: 'Ubuntu', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}
